.wrapper{
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 15px;

  .dotIndicator {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 9px;
  }

  table {
    position: relative;
    overflow: hidden;
    width: 100%;

    tbody tr:nth-child(odd) {
      background-color: #ffffff;
    }
    tbody tr:nth-child(even) {
      background-color: #f4f8fb;
    }

    thead{
      background: #eef4fa;
      position: relative;
      overflow: visible;
      border-bottom: 1px solid #d5dee7;

      tr{
        th {
          position: relative;
          height: 40px;
          border-right: 1px solid #d5dee7;
          font-size: 11px;
          color: #556069;
          padding: 5px 2px;
          text-align: center;

          &:last-child {
            margin-right: 3px;
          }

          button {
            border: none;
            background: none;
            cursor: pointer;
            height: 5px;
            width: 5px;
            outline: none;
          }
        }
      }
    }
    tbody{
      height: 350px !important;
      background: #ffffff;
      padding-bottom: 15px;

      .fa{
        color: #e85252;
        font-size: 11px;
      }

      tr{
        border-bottom: 1px solid #d5dee7;
        
        td {
          position: relative;
          font-size: 12px;
          color: #556069;
          height: 44px;
          min-width: 87px;
          max-width: 87px;
          word-wrap: normal;
          vertical-align: middle;
          padding: 5px 2px;
          text-align: center;
          &:last-child {
            margin-right: 3px;
          }

          b{
            font-weight: 500;
          }
          .inputLabel{
            font-size: 12px!important;
            color: #556069!important;
            margin-bottom: 0;
            padding-left: 25px!important;
          }
        }
      }
    }
  }
}