// Typography
$font-family-base: Tahoma, sans-serif;
$font-size-initial:       13px; 
$font-size-base:          1rem !default;
$font-size-lg:            1.25rem !default;
$font-size-sm:            0.875rem !default;
$font-size-larger:        1.1rem;
$font-size-mini:          0.9rem;
$font-size-index:         0.7rem;

// color system
$blue: #335577 !default;
$red: #dd5826 !default;
$yellow: #f0b518 !default;
$green: #64bd63 !default;
$cyan: #5dc4bf !default;